# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [2]:
import pandas as pd
import numpy as np

file = open("sp500hst.txt")
data = [[elem for elem in line.strip().split(',')] for line in file.readlines()]
file.close()
data_frame = pd.DataFrame(data, columns = ["date", "ticker", "open", "high", "low", "close", "volume"])
data_frame = data_frame.astype({'date': 'string', 'open': 'float', 'high': 'float', 'low': 'float', 'close': 'float'})
data_frame

            date ticker   open     high     low  close volume
0       20090821      A  25.60  25.6100  25.220  25.55  34758
1       20090824      A  25.64  25.7400  25.330  25.50  22247
2       20090825      A  25.50  25.7000  25.225  25.34  30891
3       20090826      A  25.32  25.6425  25.145  25.48  33334
4       20090827      A  25.50  25.5700  25.230  25.54  70176
...          ...    ...    ...      ...     ...    ...    ...
122569  20100813    ZMH  51.72  51.9000  51.380  51.44  14561
122570  20100816    ZMH  51.13  51.4700  50.600  51.00  13489
122571  20100817    ZMH  51.14  51.6000  50.890  51.21  20498
122572  20100819    ZMH  51.63  51.6300  50.170  50.22  18259
122573  20100820    ZMH  50.03  50.5500  49.480  49.82  17792

[122574 rows x 7 columns]

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

In [3]:
avg = data_frame.mean(axis=0, numeric_only=True)
avg

open     42.595458
high     43.102243
low      42.054464
close    42.601865
dtype: float64

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

In [4]:
data_frame['month'] = data_frame['date'].str.slice(start=4, stop=6)
data_frame

            date ticker   open     high     low  close volume month
0       20090821      A  25.60  25.6100  25.220  25.55  34758    08
1       20090824      A  25.64  25.7400  25.330  25.50  22247    08
2       20090825      A  25.50  25.7000  25.225  25.34  30891    08
3       20090826      A  25.32  25.6425  25.145  25.48  33334    08
4       20090827      A  25.50  25.5700  25.230  25.54  70176    08
...          ...    ...    ...      ...     ...    ...    ...   ...
122569  20100813    ZMH  51.72  51.9000  51.380  51.44  14561    08
122570  20100816    ZMH  51.13  51.4700  50.600  51.00  13489    08
122571  20100817    ZMH  51.14  51.6000  50.890  51.21  20498    08
122572  20100819    ZMH  51.63  51.6300  50.170  50.22  18259    08
122573  20100820    ZMH  50.03  50.5500  49.480  49.82  17792    08

[122574 rows x 8 columns]

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [5]:
import pandas as pd
import numpy as np

recipes = pd.read_csv("recipes_sample.csv")
recipes = recipes.astype({'name': 'string', 'submitted': 'datetime64', 'description': 'string'})
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [6]:
reviews = pd.read_csv("reviews_sample.csv", index_col=0)
reviews

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [7]:
print(f'For recipes table: rows = {len(recipes)}, columns = {len(recipes.columns)}, types = ', recipes.dtypes, sep='\n')
print('\n\n')
print(f'For reviews table: rows = {len(reviews)}, columns = {len(reviews.columns)}, types = ', reviews.dtypes, sep='\n')

For recipes table: rows = 30000, columns = 8, types =
name                      string
id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               string
n_ingredients            float64
dtype: object



For reviews table: rows = 126696, columns = 5, types =
user_id       int64
recipe_id     int64
date         object
rating        int64
review       object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [8]:
rows_without_some_data_recipes = len(recipes) - len(recipes.dropna())
print(f'Rows with missing values in recipes = {rows_without_some_data_recipes / len(recipes) * 100}%')
rows_without_some_data_reviews = len(reviews) - len(reviews.dropna())
print(f'Rows with missing values in reviews = {rows_without_some_data_reviews / len(reviews) * 100}%')

Rows with missing values in recipes = 56.846666666666664%
Rows with missing values in reviews = 0.013417945317926377%

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [9]:
print('Average for recipes: minutes = {0}, n_steps = {1}, n_ingredients = {2}'.format(recipes['minutes'].mean(), recipes['n_steps'].mean(), recipes['n_ingredients'].mean()))

Average for recipes: minutes = 123.35813333333333, n_steps = 9.805582137161085, n_ingredients = 9.008285984848484

In [10]:
print('Average for reviews: rating = {0}'.format(reviews['rating'].mean()))

Average for reviews: rating = 4.410802235271832

1.5 Создайте серию из 10 случайных названий рецептов.

In [11]:
random_recipes = pd.Series(recipes['name'][np.random.randint(0,30000,10)])
random_recipes

9047       curtido  salvadorean pickled coleslaw
10209               easy seafood   basil alfredo
10212                         easy shepherds pie
11668                        fudgy teff brownies
20602                   peruvian aji salsa verde
13863    homemade ginger cardamom soda with lime
29184           whats in the fridge  spinach dip
16339                           lollipop cookies
17728                   mini cucumber sandwiches
28546                vanilla macadamia nut fudge
Name: name, dtype: string

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [12]:
reviews = reviews.set_index(np.arange(126696))
reviews

,user_id,recipe_id,date,rating,review
0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
126691,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [13]:
msk1 = recipes[['minutes']] <= 20
msk2 = recipes[['n_ingredients']] <= 5
msk = pd.concat((msk1, msk2), axis=1)
slct = msk.all(axis=1)
print(recipes[slct])

                                                    name      id  minutes  \
28                                   quick biscuit bread  302399       20
60                         peas  fit for a king or queen  303944       20
90                     hawaiian sunrise           mimosa  100837        5
91            tasty dish s   banana pudding in 2 minutes  286484        2
94                                    1 minute meatballs   11361       13
...                                                  ...     ...      ...
29873  zip and steam red potatoes with butter and garlic  304922       13
29874                          ziplock vanilla ice cream   74250       10
29905                      zucchini and corn with cheese  256177       15
29980               zucchini with jalapeno monterey jack  320622       10
29983                          zucchini with serrano ham  162411       15

       contributor_id  submitted  n_steps  \
28             213909 2008-05-06     11.0
60             213909 2008-05-16      NaN
90              58104 2004-09-29      4.0
91              47892 2008-02-13      NaN
94               4470 2001-09-03      NaN
...               ...        ...      ...
29873          724218 2008-05-27      9.0
29874           24386 2003-10-29      8.0
29905          305531 2007-09-29      4.0
29980          305531 2008-08-20      3.0
29983          152500 2006-03-31      6.0

                                             description  n_ingredients
28     this is a wonderful quick bread to make as an ...            5.0
60     this recipe is so simple and the flavors are s...            5.0
90     pineapple mimosa was changed to hawaiian sunri...            3.0
91     "mmmm, i love bananas!" a --tasty dish-- origi...            4.0
94     this is a real short cut for cooks in a hurry....            2.0
...                                                  ...            ...
29873  i haven't tried this yet, but i am going to so...            5.0
29874  a fun thing for kids to do. may want to use mi...            3.0
29905  from betty crocker fresh spring recipes. i lik...            5.0
29980                                  simple and yummy!            3.0
29983  this dish is from tim malzer, a german chef wh...            5.0

[2019 rows x 8 columns]

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [14]:
# recipes['submitted'] =  pd.to_datetime(recipes['submitted'])
recipes.dtypes

name                      string
id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               string
n_ingredients            float64
dtype: object

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [15]:
recipes[recipes['submitted'].dt.year <= 2010]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [16]:
recipes['description_length'] = recipes['description'].str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [17]:
recipes['name'] = recipes['name'].str.title()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587
...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [224]:
recipes['name_word_count'] = recipes['name'].str.split().str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330,8
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255,5
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39,7
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154,3
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484,8
29996,Zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286,4
29997,Zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311,5
29998,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648,2
29999,Cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125,7

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [225]:
contributions = recipes.groupby('contributor_id').size()
max_count = contributions.max()
print('Contrinutor {0} made max count of contributions'.format(contributions[contributions == max_count].index[0]))

Contrinutor 89831 made max count of contributions

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [226]:
rates = reviews.groupby('recipe_id').rating.mean()
count_reviews = rates.shape[0]
count_recipes = len(recipes['id'].unique())
print('Missing review for {0} of recipes'.format(count_recipes - count_reviews))
rates

Missing review for 1900 of recipes

recipe_id
48        1.000000
55        4.750000
66        4.944444
91        4.750000
94        5.000000
            ...
536547    5.000000
536610    0.000000
536728    4.000000
536729    4.750000
536747    0.000000
Name: rating, Length: 28100, dtype: float64

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [227]:
release = recipes.copy()
release['year'] = recipes['submitted'].dt.year
release = release.groupby('year').size()
release

year
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [228]:
recipe_rating = pd.merge(reviews.set_index('recipe_id'), recipes.set_index('id'), how='inner', left_index=True, right_index=True).drop(columns = ['date', 'review', 'minutes', 'contributor_id', 'submitted', 'description', 'n_ingredients', 'description_length', 'name_word_count', 'n_steps'])
recipe_rating['id'] = recipe_rating.index
recipe_rating = recipe_rating.set_index(np.arange(126696))
recipe_rating = recipe_rating.reindex(columns=['id', 'name', 'user_id', 'rating'])
recipe_rating

            id                                        name     user_id  rating
0           48                            Boston cream pie       32421       0
1           48                            Boston cream pie       68674       2
2           55  Betty crocker s southwestern guacamole dip      165567       5
3           55  Betty crocker s southwestern guacamole dip      851190       5
4           55  Betty crocker s southwestern guacamole dip       53959       4
...        ...                                         ...         ...     ...
126691  536729                Creole watermelon feta salad      226863       4
126692  536747                          Lemon pom pom cake  2002007477       0
126693  536747                          Lemon pom pom cake     1460111       0
126694  536747                          Lemon pom pom cake  2001285346       0
126695  536747                          Lemon pom pom cake  2001996022       0

[126696 rows x 4 columns]

In [229]:
recipes_id = recipes.id
reviews_id = recipe_rating.id
recipes_id = recipes_id.drop_duplicates()
reviews_id = reviews_id.drop_duplicates()
missing_reviews = recipes_id[~recipes_id.isin(reviews_id)]
missing_reviews = pd.Series(missing_reviews.values, index=np.arange(1900))
random_element = np.random.randint(0,1900,1)[0]
if missing_reviews[random_element] in reviews_id.values:
    print('ERROR')
else:
    print('Everything is ok, recipe without any reviews is not in the result data frame')

Everything is ok, recipe without any reviews is not in the result data frame

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [230]:
reviews_count_df = recipes.copy().drop(columns = ['minutes', 'contributor_id', 'submitted', 'description', 'n_ingredients', 'description_length', 'name_word_count', 'n_steps'])
reviews_count_df['recipe_id'] = reviews_count_df['id']
reviews_count_df = reviews_count_df.reindex(columns=['recipe_id', 'name'])
reviews_count_sr = reviews.groupby('recipe_id').size()
reviews_count_sr = pd.Series(reviews_count_sr, name = 'review_count')
reviews_count_df = pd.merge(reviews_count_df.set_index('recipe_id'), reviews_count_sr, how='left', left_index=True, right_index=True)
reviews_count_df['review_count'] = reviews_count_df['review_count'].fillna(0)
reviews_count_df['recipe_id'] = reviews_count_df.index
reviews_count_df = reviews_count_df.set_index(np.arange(30000))
reviews_count_df = reviews_count_df.reindex(columns=['recipe_id', 'name', 'review_count'])
reviews_count_df

       recipe_id                                          name  review_count
0          44123         George s at the cove  black bean soup           3.0
1          67664            Healthy for them  yogurt popsicles           8.0
2          38798                  I can t believe it s spinach           3.0
3          35173                          Italian  gut busters           1.0
4          84797      Love is in the air  beef fondue   sauces           8.0
...          ...                                           ...           ...
29995     267661  Zurie s holey rustic olive and cheddar bread           4.0
29996     386977          Zwetschgenkuchen  bavarian plum cake           2.0
29997     103312   Zwiebelkuchen   southwest german onion cake           6.0
29998     486161                                   Zydeco soup           6.0
29999     298512        Cookies by design   cookies on a stick           1.0

[30000 rows x 3 columns]

In [231]:
random_element = np.random.randint(0,1900,1)[0]
if missing_reviews[random_element] in reviews_count_df.recipe_id.values:
    print('Everything is ok, recipe without any reviews exists in the result data frame')
else:
    print('ERROR')

Everything is ok, recipe without any reviews exists in the result data frame

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [232]:
general_df = recipes.copy().drop(columns = ['name', 'minutes', 'contributor_id', 'description', 'n_ingredients', 'description_length', 'name_word_count', 'n_steps'])
general_df['year'] = general_df['submitted'].dt.year
general_df = general_df.reindex(columns=['id', 'year'])
average_rate = reviews.groupby('recipe_id')['rating'].mean()
general_df = pd.merge(general_df.set_index('id'), average_rate, how='left', left_index=True, right_index=True)
general_df['id'] = general_df.index
general_df['rating'] = general_df['rating'].fillna(0)
year_rate = general_df.groupby('year')['rating'].mean()
minrate_year = year_rate[year_rate == year_rate.min()].index[0]
print('Min average rating year is {0} and rating was = {1}'.format(minrate_year, year_rate.min()))

Min average rating year is 2017 and rating was = 2.290598290598291

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [233]:
recipes = recipes.sort_values(by=['name_word_count'], ascending=False)
recipes.to_csv('recipes_result.csv', sep=',')

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [235]:
with pd.ExcelWriter('new_datasets.xlsx', mode='a+') as writer:
    recipe_rating.to_excel(writer, sheet_name='Рецепты с оценками', index=False)
    reviews_count_df.to_excel(writer, sheet_name='Количество отзывов по рецептам', index=False)
    writer.save()